# Module \#1 - Orientation and Introductory Python

## Starting from scratch with Python & Jupyter

`Python` is a general-purpose programming language used widely in machine learning and data science. To begin working with `Python`, we will use **Jupyter Notebook**. Jupyter Notebook is an IDE (Integrated Development Environment) which allows you to write and run `Python` code and `markdown` text inside of **blocks**. 

To execute a block, click it and press "Run" or, press ctrl+enter (Windows) or cmd+enter (macOS).

### Hello world!

To begin, we will follow in the time-honored tradition of showing you how to print "Hello world!" in python. **Execute the block below** (ctr-enter, Widows; shift-return, MacOS) to print "Hello world!".

In [ ]:
print("Hello world!")

**Challenge**: Can you modify the block below to print "Hello Python!"?

In [ ]:
print()

### Markdown

Jupyter notebook allows you to write code in `R`, `Python`, `Julia` in code blocks. **Jupyter** actually stands for **Ju**lia, **Pyt**hon, and **R**. 

Jupyter notebooks also allow you to write markdown in markdown blocks. 

Markdown blocks are converted to formatted text when executed. **Execute the block below** to display "Hello world!"

"Hello world!"

#### Formatting in markdown

Markdown is very powerful and used ubiquitously throughout the computing universe. You can easily style your markdown to display it the way you want. **Execute the block below** to reveal how markdown is converted to styled text. 

This example is borrowed from [markdownguide.org](https://www.markdownguide.org/cheat-sheet/)

# H1
## H2
### H3
#### H4

**bold text**

*italicized text*

> blockquote

1. First item
2. Second item
3. Third item

	- First item
- Second item
- Third item

`code`

---

[link](https://www.example.com)


| Syntax | Description |
| ----------- | ----------- |
| Header | Title |
| Paragraph | Text |


```
print("Hello world!")
print("This is a multi-line code snippet")
```

term
: definition

~~The world is flat.~~

- [x] Write the press release
- [ ] Update the website
- [ ] Contact the media

![alt text](https://cdn0.iconfinder.com/data/icons/octicons/1024/markdown-512.png)

### Efficient Jupyter Notebook

Finally, Jupyter notebook is used most-efficiently when using keyboard shortcuts and built-in tools. A full cheatsheet can be found [here](https://www.edureka.co/blog/wp-content/uploads/2018/10/Jupyter_Notebook_CheatSheet_Edureka.pdf).

For now, a couple key concepts:

In Jupyter, you can be in either **Edit mode** or **Command mode**

**Edit mode** allows you edit blocks. You can enter it by double-clicking on a block or by using the arrow keys to select a block and pressing enter. In this mode, you can write markdown or code blocks.

**Command mode** allows you to modify blocks without editing their contents directly. You can enter command mode by pressing the escape key. Here is a shortlist of command mode shortcuts:

Hit **Escape** to enter command mode, and then:
- Add a new block below: **b**
- Convert a block to markdown: **m**
- Convert a block to code: **y**
- Delete a block: **d + d**

**Challenge:** Can you add a new block below, convert it to a markdown block, and then use it to print "Hello Jupyter!" in bold?

<hr>

# Simple objects in python

Python is an object-oriented programming language. This means that **everything in python is an object**. Objects have (1) a class (aka "type"), (2) properties, and (3) methods. Let's look at some simple object types in python and their associated methods:

## Booleans and comparisons

Booleans (logicals) are a simple object type in python. They are binary because they can be only `True` or `False`.

In [ ]:
True

In [ ]:
False

We can also verify this is a `bool` object with the type method. This method can be used on any type of object in python and it returns the class of that object.

In [13]:
type(True)

bool

### Logical operations

Python makes logical operations easy and allows us to determine whether some logical condition is met. For example, we can use the `and` operator. This operator will evaluate to `True` if both left and right sides are `True`

In [ ]:
# And (both left and right are True)
True and True

In [ ]:
# And (one side isn't true)
True and False

There is also the `or` operator, which evaluates to `True` if at least one side is `True`.

In [ ]:
# Or (only one side has to be True)
True or False

Finally, the `not` (not) operator. This negates a logical's value:

In [ ]:
not True

Logical operators can be easily combined to make more complex statements. They also follow an order of operations, just like mathematical expressions. The order is:

1. `()`
2. `not`
3. `and`
4. `or`

In [ ]:
not False and True

In [ ]:
not False and not True

In [3]:
not False and not False

True

In [10]:
not False and False

False

In [11]:
not (False and False)

True

In [ ]:
not False or not (True or not True)

**Challenge question**: What is the output for the following (without running it yourself):

```python
False and True or True and (not False or False)
```

## Numerics and mathematics

There are three main types of numerical objects in python:

1. `int` -- includes whole numbers
2. `float` -- includes decimals
3. `complex` -- includes imaginary numbers

Let's explore the `int` type first. We can create an instance of `int` by simply typing any whole number into the code block:

#### `int`

In [ ]:
1

We can also verify this is an `int` object with the `type` method. This method can be used on any type of object in python and it returns the class of that object.

In [ ]:
type(1)

Instances of any class can also be created by using the name of that class as a method. For example, we can create (aka "instantiate") an empty integer, by calling the `int()` method.

In [ ]:
int()

#### `float`

`floats` are numerical objects which have a decimal place. For example:

In [ ]:
1.01

In [ ]:
type(1.01)

#### `complex`

`complex` are numerical objects which have imaginary numbers. For example:

In [ ]:
2 + 2j

In [ ]:
type(2+2j)

### Numerical methods: Math operations

We can perform simple mathematical operations with numerical objects.

In [ ]:
# Addition
1 + 1

In [ ]:
# Subtraction
4 - 2

In [ ]:
# Multiplication 
2 * 3

In [ ]:
# Division
16 / 3

In [ ]:
# Floored Division
16 // 3

In [ ]:
# Modulo (remainder)
16 % 3

In [ ]:
# Exponentiation
2**5

In [ ]:
# Negation
-1

In [ ]:
# Absolute value
abs(-1)

**Challenge question**: What is the `type` of `22 / 2`?

#### Order of operations

Python obeys PEMDAS (parentheses, exponent, multiplication, division, addition, subtraction) to determine the order in which to evaluate a mathematical operation. For example:

In [ ]:
3 + 5 * 2  # It is not 16 because the multiplication comes first

**Challenge question:** What is the result of this operation (without running it yourself): 

```
2 + 3 * (2 + 25 / 5 ** 2) 
```

### Logical comparisons of numerics

We can use comparison operators in python to check the relationship between any two numerics.

In [ ]:
# Greater-than
9 > 8

In [ ]:
# Less-than
8 < 10

In [ ]:
# Equal to
1 == 2

In [ ]:
# Not equal to
1 != 2

In [ ]:
# less-than or equal-to
2 <= 2

In [ ]:
# Greater-than or equal-to
10 >= 12

#### Complex comparisons

We can add in arthimetic to perform more mathematically complex operations

In [ ]:
5 ** 2 + 1 == 52 / 2

In [ ]:
1j**2 == -1

TODO: Add another challenge here

## Strings

Strings hold text data, such as names or addresses. They are constructed by using quotations (double or single):

In [ ]:
'Hello world!'  # Single quotes

In [ ]:
"Hello world!"  # Double quotes

In [ ]:
type("Hello world!")

### String methods

There are several basic methods for string objects. Many more exist and they will be covered later in the course. For a list of string methods please see the W3 schools guide [here](https://www.w3schools.com/python/python_ref_string.asp).

In [ ]:
# Print
print("Hello world!")

In [ ]:
# Concatenate
"Hello " + "world!"

In [ ]:
# Upper-case
"Hello world!".upper()

#### Logical comparisons with strings

Just like numerics, logical comparisons work with strings as well

In [ ]:
"Hello" == "Hello"

In [ ]:
"Hello" == "World"

In [ ]:
"Hello" != "World"

## Type conversion

Some types of obejcts in `python` can be converted. This is necessary when performing certain operations, such as adding `str` and `int` objects to make a phrase such as the following:

```python
"I am " + 26 + " years old!"
```

If we attempt to run this code, we should see an error because the `+` method only works with strings or numerics, but not both. 

Now, **try it yourself by executing the block below!**

In [37]:
"I am " + 26 + " years old!"

TypeError: can only concatenate str (not "int") to str

How can we interpret this error? When looking at an error in `python`, you can usually skip right to the last line, in this case: `TypeError: can only concatenate str (not "int") to str`. This line indicates a `TypeError` which arises when an operation is performed on incompatible object types. The text of the error says `can only concatenate str (not "int") to str`, indicating that the user has attempted to `concatenate` (`+`) a `str` with an `int` object, which is not allowed. 

To understand how to fix this, let's fix look at the ways `python` handles type conversion:

1. `int` to `float`

In [23]:
# Let's look at the int 1
type(1)

int

In [24]:
# Convert int: 1 to a float.
float(1)

1.0

In [25]:
# Confirm that float(1) is a float
type(float(1))

float

2. `bool` to `int`

In [28]:
# Let's look at True
type(True)

bool

In [29]:
# Convert True to int
int(True)

1

**Challenge:** What error results from `2 ** 2 / int(False)` ? and why?

3. `str` to `int`

In [31]:
# Look at the type of "5"
type("5")

str

In [32]:
# Convert "5" to int
int("5")

5

In [33]:
# 1 is not the same as "1"
1 == "1"

False

In [34]:
# str(1) is equivalent to "1"
1 == int("1")

True

**Challenge:** Modify the code from earlier so that it doesn't produce a `TypeError`:

```python
"I am " + 26 + " years old!"
```

### Cross-type comparison

Additionally, there is no requirement that logical comparisons involve only one data type. For example:

In [ ]:
# 1 is not equivalent to "Hello world!"
1 != "Hello world!"

In [ ]:
# Both sides generate booleans which can be compared using "and"
"Hello" != "world" and 1 < 2

**Challenge questions**: Please take this opportunity to figure out the results of each line (be prepared to explain your answers):

```python

# Question 1
"Hello" == False or 1 * 2 <= 2

# Question 2
"Hello" + "World" == "Hello world"

# Question 3
not "A" != "B" or not True == False and 3**2 == 9 

```

## Variables

Variables are names (aka 'aliases' or 'references') given to an object in python. Any object in python can be assigned a variable. Rather than calling the object directly, you can use the variable name instead. This enables complicated code to be written and understood by humans.

To create a variable, use the `=` sign:

In [ ]:
a = 1

Now that we have created the variable `a` to hold the integer `1`, we can perform operations on `a` directly.

In [ ]:
# Use a for arithmetic
a + 2

In [ ]:
# Use a for logical comparisons
a != "Hello world!"

In python, any variable can reference any object, including the results of computations.

In [ ]:
result_1 = 1 + 2 < 3  # Variable to reference numeric comparison
result_2 = "Hello " + "world" == "Hello world"  # Variable to reference string comparison

In [ ]:
result_1 or result_2

### `is` and `==`

In python, two methods exist for testing equivalence:

1. `==` (equivalent values)
2. `is` (identical objects)

While the distinction is subtle, it is crucial to remember that `is` tests whether two objects are literally the same where as `==` only tests whether two objects are equal to eachother.

For example, we can assign the numerical object `1` to the variable `a`, and then assign `a` to `b`. Both `a` and `b` refer to the same object of the numeric class holding the value `257`. Therefore, they are equivalent and the same.

In [ ]:
a = 257
b = a

In [ ]:
a == b

In [ ]:
a is b

Conversly, if we assign `a` and `b` to `257` separately, we see that they do not refer to the same object:

In [ ]:
a = 257
b = 257

In [ ]:
a == b

In [ ]:
a is b

**EXTREME Challenge question**:

What happens when I repeat the above example using `256` instead of `257`? Why does the result change? 

*Hint*: See [this article](https://codeburst.io/the-unseen-pitfalls-of-python-7ca57f021d08) for additional guidance.

<hr>

# Complex objects in python

Now that we have discussed simple python objects, lets explore the wide world of complex objects. These objects provide powerful methods for the storage and manipulation of data. They are essential tools for the data scientist to wield.

Object types:
1. Lists
2. Dictionaries
3. Tuples
4. Sets
5. Numpy arrays
6. Pandas DataFrames

## Lists

Lists are a python object type which can store any arbitrary number of any type of object.

In [40]:
# List of strings
words = ["Hello", "World"]
words

['Hello', 'World']

In [ ]:
# List of numbers
numbers = [1, 2, 3]
numbers

In [ ]:
# List of booleans
bools = [True, False, False]
bools

In [ ]:
# Mixed list
mix = [1, True, "Hello"]
mix

### List methods

Lists have a wide variety of methods associated with them. For a more exhaustive reference, please refer to the W3 schools guide [here](https://www.w3schools.com/python/python_ref_list.asp).

For now, we will discuss:
1. Construction
2. Indices
3. Appending
4. Length
5. Sort

#### Construction

Lists can be constructed using the `list()` function:

In [ ]:
# Just like other python object, there is a constructor function for lists
my_list = list()
my_list

More commonly, lists are defined by using `[]` and providing the objects to include:

In [ ]:
my_list = [1, 2, 3, 'a', 'b']
my_list

In [ ]:
# Lists can even contain lists
lst_list = [1, 2, 3, [4, 5, 6]]
print(lst_list)

#### Indices

Lists hold data and have a specific order. To access the objects in a list, one can use the object's index. **NOTE**: unlike `R`, indices start at `0` in python.

In [ ]:
# Retrieve first element from list
my_list[0]

In [ ]:
# Retrieve fourth element from list
my_list[3]

In [ ]:
# Retrieve the last element from list
my_list[-1]

Indices can also be accessed using a slice (`start:stop`). The slice indicates the range of indices to retrieve. If either `start` or `stop` is blank all elements will be included up until an element (former) or after an element (latter).

In [ ]:
# Retrieve the values from the 2nd to the 5th element
my_list[1:4]

In [ ]:
# Retrieve all values from the 3rd element to the end of the list
my_list[2:]

In [ ]:
# Retrieve all values until the 4th element
my_list[:3]

TODO: Add step as well

#### Appending

New elements can be added to the end of a list using the `append()` method:

In [ ]:
# Append 1 to a list
my_list.append(1)
my_list

In [ ]:
# NOTE: This overwrites the list object. 
my_list.append(2)
my_list.append("a")
my_list

TODO: Also stuff that references this object will also be modified

#### Length

It may be helpful to know the length of a list. You can get that information with the `len()` function:

In [ ]:
len(my_list)

#### Sorting

It may be helpful to sort the elements of a list. This can be accomplished with the `sort()` function.

In [ ]:
my_list2 = [1, 2, 5, 3]
my_list2.sort()
print(my_list2)

TODO: Challenge problem for lists

<hr>

# Other programming concepts in Python

We will also briefly discuss control flow and functions in python. While these are useful techniques for python programming, they are not necessary for most typical data science activities in python. These are the topics which we will now summarize:

1. If...elif...else
2. Loops
3. Function definitions

## If...elif...else

These statements indicate code blocks that will only be executed given that a logical condition is met.

### If statements

`if` statements in python create a logic gate, such that some code will only execute if a logical condition is met. See an example here:

In [ ]:
a = 1
b = 1

if a == b:
    # Execute this code only if a == b is True
    print("a is equal to b!")

The above example shows an `if` statement. The code in this statement only executes which the condition (`a == b`) is `True`. **Challenge:** Can you modify the above block so that the code will not execute?

### If...else statements

`else` statements are executed if no previous conditions are satisfied. In other words, if not of the `if` statements execute, only then will the `else` statement execute.

In [ ]:
a = 1
b = 2

if a == b:
    print("a is equal to b!")
else:
    print("a is NOT equal to b!")

### If...elif...else statements

`elif` is a phrase that means "else if". This means that if the preceeding logical conditions are not satisfied, only then is this statement tested.

In [ ]:
grade = 68

if grade > 90:
    # Only executes if grade > 90
    letter_grade = "A"
elif grade > 80:
    # Only executes if grade > 80 and grade <= 90
    letter_grade = "B"
elif grade > 70:
    # Only executes if grade > 70 and grade <= 80
    letter_grade = "C"
elif grade >= 60:
    # Only executes if grade > 60 and grade <= 70
    letter_grade = "D"
else:
    # Only executes if grade < 60
    letter_grade = "F"
    
print("Student earned a grade of " + letter_grade)

In the above example, each logical condition is tested in sequence. Only when a condition is not met is the next one tested. If a student has a grade of `68`, then every `elif` statement will be tested. If the student had a `96`, then no `elif` statements would have been tested.

## Loops

Loops allow for some code to be applied to every element of an iterable object, such as a list.

### For loops

For loops are a type of finite loop in python (as opposed to `while` loops which we will not discuss here). A for loop iterates over an iterable object, such as a `list` or `tuple`. For every element of the object, code will be executed in succession. Here is an example:

In [ ]:
grades = [85, 98, 45, 73]

# Loop over list of grades and print letter grade
for grade in grades:
    if grade > 90:
        # Only executes if grade > 90
        letter_grade = "A"
    elif grade > 80:
        # Only executes if grade > 80 and grade <= 90
        letter_grade = "B"
    elif grade > 70:
        # Only executes if grade > 70 and grade <= 80
        letter_grade = "C"
    elif grade >= 60:
        # Only executes if grade > 60 and grade <= 70
        letter_grade = "D"
    else:
        # Only executes if grade < 60
        letter_grade = "F"

    print("Student earned a grade of " + letter_grade)

Rather than using the list of grades directly, it may be useful to use the numerical indices of list elements. For example:

In [ ]:
students = ['alice', 'kevin', 'sara', 'tim']
grades = [85, 98, 45, 73]

for i in range(len(grades)):
    
    grade = grades[i]
    student = students[i]
    
    if grade > 90:
        # Only executes if grade > 90
        letter_grade = "A"
    elif grade > 80:
        # Only executes if grade > 80 and grade <= 90
        letter_grade = "B"
    elif grade > 70:
        # Only executes if grade > 70 and grade <= 80
        letter_grade = "C"
    elif grade >= 60:
        # Only executes if grade > 60 and grade <= 70
        letter_grade = "D"
    else:
        # Only executes if grade < 60
        letter_grade = "F"

    print(student + " earned a grade of " + letter_grade)

## Functions

Functions (aka "methods") are objects in python which take an input, perform computations, and return an output. Functions have arguments that help the function operate correctly

In [ ]:
def square_it(x):
    print(x ** 2)
    
square_it(5)

Functions can also return a value. This is more common in python programming than simply printing the value:

In [ ]:
def square_it(x):
    return x ** 2
    
result = square_it(5)
print(result)

**Challenge problem:** create a function with one argument, `grade`. The argument should convert `grade` to a letter grade and return this to the user. Then, use this function to simplify the for loop from earlier.

**Challenge problem 2** create a function with one argument, `grades`, that is a list of numerical grades. The argument should convert all elements of `grades` to letter grades and return this to the user.

TODO: Maybe list comprehension goes here